.home-section {
  display: flex;
  padding: 30px 80px;
}

@media only screen and (max-width: 800px) {
  .home-section {
    padding: 30px 40px;
  }
  .home-section {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .home-section {
    padding: 30px 24px;
  }
}
