.search {
  position: absolute;
  top: 35px;
  left: 25%;
  width: 100vw;
  z-index: 1;
}

.search > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 558px;
  padding: 18px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 380px;
}

.search > input {
  width: 539px;
  padding: 20px;
  position: absolute;
  left: 0;
  height: 30px;
  top: 420px;
  border: none;
}

.search > input:focus {
  outline-width: 0;
}

.search > button {
  position: absolute;
  left: 0;
  top: 460px;
  text-transform: inherit !important;
  background-color: #ff7779;
  color: white;
  width: 579px;
}

.search > button:hover {
  background-color: white;
  color: #ff7779;
}

@media only screen and (max-width: 1050px) {
  .header-center > input {
    width: 30vw;
  }
}

@media only screen and (max-width: 800px) {
  .search {
    left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .rdrDefinedRangesWrapper {
    display: none;
  }
  .rdrDateRangePickerWrapper,
  .rdrCalendarWrapper,
  .rdrMonth {
    width: 100% !important;
  }
  .search,
  .search > h2,
  .search > input,
  .search > button {
    width: 100%;
  }

  .header-right > p,
  .header-right > .MuiSvgIcon-root {
    display: none;
  }

  .MuiAvatar-root {
    width: 35px;
    height: 35px;
  }
}
